<style>

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h1.Randomheader
{
 background-color: yellow;
    margin-left: 20px;

}
#P1
{
    margin-left: 80px;
}
</style>
