<style>

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h1.Randomheader
{
color:green;
    margin-left: 20px;

}
h2.RandomHeader
{
color:maroon;
    margin-left: 20px;
}
#B1
{
color:purple;
}
</style>
